<em>Don't be mean. We don't have to be mean. Cause remember: no matter where you go, there you are.<br>
<br> ----- Buckaroo Banzai
<hr>
Because, when all is said and done, Decency of Means is the Aim of Aims.<br><br>
----- Stefan Themerson
<hr>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A bath when you're born,<br>
a bath when you die,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;how stupid.<br><br>         
----- Issa
<hr>
If I wanted you to understand it, <br>I would have explained it better.<br><br>
----- Johan Cruijff                                 
<hr>
</em>
<div class="hide-for-large">
  <hr />
</div>

