{{ define "main" }}
<div class="row">
  <div class="column small-12 large-8 end">
    {{ partial "pub-aside" . }}
  </div>
</div>
<div class="row">
    <div class="column small-12 medium-6">
    <h2>Local History</h2>
    {{ range (where .Data.Pages "Params.publication" "==" "HIS").GroupByDate "2006" "desc" }}
    <div class="row">
      <div class="column small-2 medium-2">
        <h3>{{ .Key }}</h3>
      </div>
      <div class="column small-10 medium-10">
  <ul class="compact fa-ul">
    {{ range .Pages.ByDate.Reverse }}
      <li>{{ partial "pub-summary" . }}</li>
      {{ end }}
  </ul>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<hr>
<div class="row">
  <div class="column small-12 medium-6">
    <h2>Multidimensional Scaling</h2>
    {{ range (where .Data.Pages "Params.publication" "==" "MDS").GroupByDate "2006" "desc" }}
    <div class="row">
      <div class="column small-2 medium-2">
        <h3>{{ .Key }}</h3>
      </div>
      <div class="column small-10 medium-10">
	<ul class="compact fa-ul">
	  {{ range .Pages.ByDate.Reverse }}
      <li>{{ partial "pub-summary" . }}</li>
      {{ end }}
	</ul>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="column small-12 medium-6">
    <h2>Multivariate Analysis</h2>
    {{ range (where .Data.Pages "Params.publication" "==" "MVA").GroupByDate "2006" "desc" }}
    <div class="row">
      <div class="column small-2 medium-2">
        <h3>{{ .Key }}</h3>
      </div>
      <div class="column small-10 medium-10">
	<ul class="compact fa-ul">
	  {{ range .Pages.ByDate.Reverse }}
	  <li>{{ partial "pub-summary" . }}</li>
	  {{ end }}
	</ul>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<hr>
<div class="row">
  <div class="column small-12 medium-6">
    <h2>Optimization</h2>
    {{ range (where .Data.Pages "Params.publication" "==" "OPT").GroupByDate "2006" "desc" }}
    <div class="row">
      <div class="column small-2 medium-2">
        <h3>{{ .Key }}</h3>
      </div>
      <div class="column small-10 medium-10">
  <ul class="compact fa-ul">
    {{ range .Pages.ByDate.Reverse }}
      <li>{{ partial "pub-summary" . }}</li>
      {{ end }}
  </ul>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="column small-12 medium-6">
    <h2>Auxilaries</h2>
    {{ range (where .Data.Pages "Params.publication" "==" "AUX").GroupByDate "2006" "desc" }}
    <div class="row">
      <div class="column small-2 medium-2">
        <h3>{{ .Key }}</h3>
      </div>
      <div class="column small-10 medium-10">
  <ul class="compact fa-ul">
    {{ range .Pages.ByDate.Reverse }}
    <li>{{ partial "pub-summary" . }}</li>
    {{ end }}
  </ul>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
